<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  style="color: aliceblue;"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="profileData" style="color: aliceblue;">{{profileData.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile" *ngIf="profileData">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide [style.background-image]="'url('+ profileData.image +')'"></ion-slide>
    </ion-slides>
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <p class="header">{{profileData.name}}</p>
        <p class="profile">{{profileData.age}}, {{profileData.height}}, {{profileData.language}}, {{profileData.caste}},</p>
        <p class="profile">{{profileData.work}}, {{profileData.location}},</p>
        <p class="profile">{{profileData.state}}, {{profileData.nationality}}</p>
        <ion-text class="line"></ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>