ion-header {
    --ion-toolbar-background: transparent;
}

ion-content {
    position: absolute;
    top: 0;
    z-index: 1;
    --background: #fff;
    .gradientBackground {
        position: absolute;
        z-index: 9;
        height: 50%;
        width: 100%;
        background: rgb(89, 186, 107) !important;
        background: linear-gradient(122deg, rgba(89, 186, 107, 1) 44%, rgba(32, 176, 188, 1) 100%) !important;
    }
}
ion-grid {
    height: 60%;
    position: relative;
    z-index: 99;
    top: 15%;
    width: 80%;
    .profileCard {
        height: 100%;
        width: 100%;
        ion-card {
            margin: auto;
            display: block;
            position: absolute;
            width: 95%;
            height: fit-content;
            ion-card-content {
                line-height: 0px !important;
            }
            .headerImage {
                height: 60vh;
                background-position: top;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .cardData {
                position: absolute;
                bottom: 0;
                height: 32%;
                background: #fff;
                width: 100%;
                padding: 10px;
                text-align: left;
                p {
                    color: #000;
                }
                .header {
                    font-size: 1.5em;
                    font-weight: bold;
                    letter-spacing: 0.7px;
                    margin-bottom: 0.3em;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
                .profile {
                    line-height: 1em;
                    letter-spacing: 0.5px;
                    font-size: 14px;
                }
                .line {
                    width: 95%;
                    height: 0;
                    border: 1px ridge #f8f8f8;
                    margin-top: 10px;
                    display: inline-block;
                }
                .footer {
                    .small {
                        font-size: 10px;
                        color: #000;
                    }
                    .likeText {
                        color: #000;
                        font-weight: 700;
                        position: relative;
                        top: 5px;
                        right: 5px;
                    }
                    .ok {
                        --padding-start: 1.5em !important;
                        --padding-end: 1.5em !important;
                    }
                    .cancel {
                        --padding-start: 0.7em !important;
                        --padding-end: 0.7em !important;
                    }
                }
            }
        }
        img {
            height: 100%;
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0, 0, 0, 0 rgba(44, 103, 255, 0.4);
    }

    70% {
        box-shadow: 0, 0, 0, 0 rgba(44, 103, 255, 0);
    }

    100% {
        box-shadow: 0, 0, 0, 0 rgba(44, 103, 255, 0);
    }
}
