<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: aliceblue;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: aliceblue;">Daily Recommendations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="gradientBackground"></ion-row>
  <ion-grid *ngIf="profiles">
    <ion-row class="ion-justify-content-center profileCard">
      <ion-col size="12">
        <ion-card *ngFor="let profile of profiles">
          <ion-card-content class="ion-no-padding">
            <ion-card-header class="headerImage ion-no-padding" [style.background-image]="'url('+ profile.image +')'"></ion-card-header>
            <div class="cardData">
              <p class="header">{{profile.name}}</p>
              <p class="profile">{{profile.age}}, {{profile.height}}, {{profile.language}}, {{profile.caste}}, {{profile.work}}, </p>
              <p class="profile">{{profile.location}}, {{profile.state}}</p>
              <p class="profile">{{profile.nationality}}</p>
              <ion-text class="line"></ion-text>
              <ion-row class="footer ion-align-items-center">
                <ion-col size="4">
                  <ion-button class="small shortListed" fill="clear" size="small">
                    <ion-icon slot="start" name="star-outline" ></ion-icon>
                    <ion-text>Shortlist</ion-text>
                  </ion-button>
                </ion-col>
                <ion-col size="8">
                  <ion-row class="ion-align-items-center">
                    <ion-col class="ion-text-right">           
                      <ion-text class="likeText">Like Her?</ion-text>           
                      <ion-button class="cancel profileStatusFalse" color="dark" size="small" shape="round" (click)="profileStatus(false)">
                        <ion-icon name="close"></ion-icon>
                      </ion-button>
                      <ion-button class="ok profileStatusTrue" color="tertiary" size="small" shape="round" (click)="profileStatus(true)">
                        <ion-icon name="checkmark"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>