<ion-content class="ion-padding" fullscreen="true">
  <ion-row>
    <ion-col>
      <ion-button size="large" expand="block" color="primary" (click)="toPage('/my-matches')">My Matches</ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="large" expand="block" color="success" (click)="toPage('/daily-recommendations')">Daily Suggestions</ion-button>
    </ion-col>
  </ion-row>
</ion-content>




