<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title class="Title">My Matches</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="custom-icon" name="ellipsis-vertical" (click)="toPage('/daily-recommendations')"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let profile of profiles">
        <ion-card>
          <ion-card-header class="ion-no-padding" [style.background-image]="'url('+ profile.image +')'" (click)="toProfile(profile.id)"></ion-card-header>
          <ion-card-content class="ion-no-padding" >
            <div (click)="toProfile(profile.id)">
            <p class="header">{{profile.name}}</p>
            <p class="profile">{{profile.age}}, {{profile.height}}, {{profile.language}}, {{profile.caste}},</p>
            <p class="profile">{{profile.work}}, {{profile.location}},</p>
            <p class="profile">{{profile.state}}, {{profile.nationality}}</p>
            </div>
            <ion-row class="footer-card">
              <ion-col size="4">
                <ion-button color="tertiary" size="small" shape="round" (click)="toProfile(profile.id)">Yes</ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button color="light" size="small" shape="round">No</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-row>

</ion-content>